services:

  api1:
    container_name: api1
    image: gasparbarancelli/rinha-2024-java-nativo:latest
    environment:
      - DATABASE_HOST=db
      - HTTP_PORT=8081
    ports:
      - '8081:8081'
    depends_on:
      db:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: "0.4"
          memory: "100MB"

  api2:
    container_name: api2
    image: gasparbarancelli/rinha-2024-java-nativo:latest
    environment:
      - DATABASE_HOST=db
      - HTTP_PORT=8082
    ports:
      - '8082:8082'
    depends_on:
      db:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: "0.4"
          memory: "100MB"

  envoy:
    container_name: envoy
    image: envoyproxy/envoy:v1.20.0
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml
    deploy:
      resources:
        limits:
          cpus: "0.15"
          memory: "100MB"
    depends_on:
      - api1
      - api2
    ports:
      - "9999:9999"
    logging:
      driver: none
    command: ["envoy", "-c", "/etc/envoy/envoy.yaml"]

  db:
    container_name: db
    image: postgres:latest
    environment:
      - POSTGRES_PASSWORD=backend
      - POSTGRES_USER=rinha
      - POSTGRES_DB=rinha-backend
    ports:
      - '5432:5432'
    command: ["postgres", "-c", "logging_collector=false", "-c", "max_connections=30"]
    volumes:
      - ./import.sql:/docker-entrypoint-initdb.d/script.sql
    deploy:
      resources:
        limits:
          cpus: "0.55"
          memory: "200MB"
    logging:
      driver: none
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s